.cc-Fields {
	display: table;
	margin: 8px;
}

.cc-Fields label {
	display: table-row;
}

.cc-Fields label dt,
.cc-Fields label dd {
	display: table-cell;
}

.cc-Fields label dt {
	padding: 0 8px;
	text-align: right;
	vertical-align: middle;
}

.cc-Fields label dd {
	padding: 8px 0;
	text-align: left;
}
