/* Codemirror */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/ambiance.css';

/* Icons */
@import 'icons/style.css';

/* Support */
@import 'common.css';

/* Components */
@import 'layout.css';
@import 'Icon.css';
@import 'Input.css';
@import 'Button.css';
@import 'IconButton.css';
@import 'ButtonBar.css';
@import 'Fields.css';
@import 'Dialog.css';
@import 'Header.css';
@import 'Growl.css';
@import 'Interview.css';
@import 'Video.css';
@import 'VideoPanel.css';
@import 'TimelineContainer.css';

/* Allow utilities to override classes */
@import 'utilities.css';

.cc-JoinLink {
  position: relative;
  font-weight: bold;
}
.cc-JoinLink i {
  padding: 8px;
  top: 50%;
  margin-top: -20px; /* vertical align */
  left: -36px; /* offset to the left */
  position: absolute;
}

/* Other's highlighted text */
.cc-Highlight {
  background: yellow;
}

/* Other's cursor */
.cc-Cursor {
  position: relative;
  z-index: 0; /* under real cursor */
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-right: -1px;
  margin-bottom: -5px;
  background: yellow;
}

.cc-JoinLink {
  text-decoration: none;
  color: inherit;
}

.cc-JoinLink i {
  display: none;
}

.cc-JoinLink:hover i {
  display: inherit;
}

.cc-RoomName {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.cc-Logo {
  height: 32px;
}

