.cc-Video {
  position: relative;
  display: block;
}

.cc-Video--canEnlarge {
  cursor: pointer; /* Show hand on hover */

  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.cc-Video video {
  display: inline-block;
  max-height: 100%;
}

.cc-Video-speaking {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 4px; /* A little offset from sides */
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); /* Stand out against white backgrounds */

  color: white;
}

.cc-Video--fullSize {
  position: fixed !important;
  z-index: 10;
  top: var(--headerHeight);
  bottom: var(--headerHeight);
  left: 0;
  right: 0;

  text-align: center !important;
}

.cc-Video--fullSize video {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;

  width: auto !important;
  height: 100% !important;
  max-height: none !important;

  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

.cc-VideoContainer {
  position: absolute;
  z-index: 2; /* Over header / footer */

  background: gray;
}

.cc-VideoContainer--top {
  top: 64px; /* Under header */
  right: 0;
}

.cc-VideoContainer--bottom {
  bottom: 0;
  right: 0;
}
